.card {
    min-height: 450px;
    max-height: 450px;
    max-width: 275px;
    margin: auto
}

.card img {
    min-height: 200px;
    max-height: 200px;
}

.card-body {
    min-height: 250px;
    max-height: 250px;
}

.joke_description {
    max-height: 50px;
    overflow: hidden;
}