/*---------------------------------------------------site wide features*/

html {
    height: 110vh;
    box-sizing: border-box;
  }
 

body {
    position: relative;
    background-image: linear-gradient(to right, rgb(245, 180, 60), rgb(245, 188, 31), rgb(245, 180, 60));
    color: black;
    font-family: 'Noto Sans', sans-serif;
    min-height: 100%;
    padding-bottom: 75px;
}

.btn {
    background-color: rgba(0, 0, 0);
    transition: .7s;
    border: black;
}

.btn:hover {
    background-image: linear-gradient(to bottom right, rgb(243, 160, 6), rgb(245, 220, 153), rgb(243, 160, 6));
    color: black;
}

a:hover {
    color: black;
}

.add-one:hover {
    color: black;
    font-size: 30px;
}

.fas {
    transition: .7s;
}

.fas:hover {
    transform: rotate(360deg);
    font-size: 20px;
}

/*---------------------------------------------------header*/

#home {
    margin-top: 95px;
}

.navbar {
    background-image: linear-gradient(to right, rgb(245, 180, 60), rgb(245, 188, 31), rgb(245, 180, 60));
    box-shadow: 0 1px 10px;
}

.navbar-brand {
    color: black;
}

.fas, .navbar-brand, .nav-link, .nav-item, h1, h2, h5, a {
    color: rgba(0, 0, 0);
}

.nav-link:hover, .nav-item:hover {
    font-size: 15px;
    color: black;
}

.navbar-brand:hover {
    font-size: 19px;
    color: black;
}

/*---------------------------------------------------search controls*/

.jj-head {
    margin: 0;
    padding: 25px;
    color: black;
}

.flash {
    background-color: white;
    margin-top: 56px;
}

.search-controls {
    padding-bottom: 65px;
}

.add-icon {
    margin-left: 30px;
}

.fa-plus-circle {
    font-size: 32px;
    border-radius: 50%;
}

.fa-plus-circle:hover {
    font-size: 35px;
    color: rgb(243, 160, 6);
    border-radius: 50%;
    border: 1px solid black;
}

.search-bar {
    margin-bottom: 30px;
}

.sign-in-message {
    font-weight: 300;
    margin-top: -25px;
}

/*---------------------------------------------------cards*/

.card {
    min-height: 450px;
    max-height: 450px;
    max-width: 275px;
    margin: auto;
    box-shadow: 0 5px 10px;
}

.card img {
    min-height: 200px;
    max-height: 200px;
    border-bottom: 1px solid rgb(245, 180, 60);
}

.card-body {
    min-height: 250px;
    max-height: 250px;
    background-color: rgb(253, 253, 253)
}

.joke_description {
    max-height: 42px;
    min-height: 42px;
    overflow: hidden;
}

.likes {
    margin-bottom: 4px;
}

.unlike {
    color: blue;
}

.liked, .favd, .card-title, .likes {
    color: rgb(245, 180, 60);
}

.card-title, .likes {
    font-weight: bold;
}

.card-title {
    font-size: 105%;
}

/*---------------------------------------------------modals*/

.modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.joke-modal {
    width: 80vw;
    min-height: 200px;
    background-color: white;
    border-radius: 2px;
    position: relative;
}

.modal-joke-title, .fav-modal-joke-title {
    width: 100%;
    text-align: center;
}

.modal-joke-description, .fav-modal-joke-description {
    width: 100%;
    text-align: center;
}

.modal-text {
    margin: 0;
}

.modal-btn {
    background-image: linear-gradient(to bottom right, rgb(245, 220, 153), rgb(243, 173, 44), rgb(245, 220, 153));
    color: black;
}

.modal-joke-teller {
    font-size: 90%;
}

.cancel-confirm {
    margin: auto;
}

/*---------------------------------------------------profile*/

.see-favs, .see-own {
    text-align: center;
    text-decoration: none;
}

/*---------------------------------------------------pagination*/

.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul {
    list-style-type: none;
}

.pagination ul li {
    display:inline;
    padding: 10px;
}

.pagination li.active {
    background-color: black;
    color: white;
}

/*---------------------------------------------------sign up/sign in pages*/

.form-directon {
    font-size: 10px;
}

.user-card {
    max-width: 275px;
    margin: auto;
    box-shadow: 0 5px 10px;
}

.user-card-text {
    font-size: 75%;
}

/*---------------------------------------------------footer*/

footer {
    width: 100%;
    height: 65px;
    background-image: linear-gradient(to right, rgb(245, 180, 60), rgb(245, 188, 31), rgb(245, 180, 60));
    color: black;
    box-shadow: 1px 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;

}

#social-links {
    width: 20%;
}

#social-links div {
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 3px;
}

#social-links div a {
    font-size: 20px;
}

#social-links div a:hover {
    font-size: 19px;
    color: black;
}

.ftr-element {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------------------------------error pages*/

.error-body {
    max-height: 100vh;
}

.section-error {
    height: 90vh;
    max-height: 90vh;
    display: flex;
    align-items: center;
}

.directions {
    margin: auto;
}

.directions a {
    font-size: 40px;
    transition: .3s;
}

.directions a:hover {
    font-size: 50px;
    opacity: .7;
}