<!-- extend boilerplate from base.html -->
{% extends "base.html" %}

<!-- inject contents into "block content" from base.html -->
{% block content %}
    <!-- heading -->
    <h1 class="m-4 text-center">Add Joke</h1>

    <!-- add joke form -->
    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST" action="{{ url_for('add_joke') }}">
                <!-- joke title -->
                <div class="mb-4">
                    <label for="joke_title" class="form-label">Joke Title <span class="form-directon">(Make it short 'n' sweet!)</span></label>
                    <input type="text" class="form-control" id="joke_title" name="joke_title" minlength="3" maxlength="20" required>
                </div>
                <!-- joke -->
                <div class="mb-4">
                    <label for="joke_description" class="form-label">Joke <span class="form-directon">(Please ensure the joke is all on one line)</span></label>
                    <!-- request user to write joke on one line -->
                    <textarea class="form-control" id="joke_description" name="joke_description" minlength="4" maxlength="200" required></textarea>
                </div>
                <!-- image -->
                <div class="mb-4">
                    <label for="img_url" class="form-label">Image URL <span class="form-directon">(Any image related to the joke)</span></label>
                    <input type="text" class="form-control" id="img_url" name="img_url" placeholder="eg: https://i.pinimg.com/474x/05/80/89/0580895d26cc99686c807c4896df5f80.jpg" required>
                </div>
                <!-- switch, checked by default -->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="for_children" name="for_children" checked>
                    <label class="form-check-label" for="for_children">Suitable for children</label>
                </div>
                <!-- add joke/cancel buttons -->
                <div class="text-center">
                    <!-- add joke button -->
                    <a href="{{ url_for('get_jokes') }}" class="btn btn-primary">Cancel</a>
                    <!-- cancel button -->
                    <button type="submit" class="btn btn-primary">Add Joke</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}