<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <!-- boostrap css bundle -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" type="text/css">
    <!-- custom css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>JustJokes</title>
</head>
<body>
    <header id="home">
        <!-- navbar - Bootstrap -->
        <nav class="navbar fixed-top navbar-expand-sm">
            <div class="container-fluid">
                <!-- logo -->
                <a class="navbar-brand" href="{{ url_for('get_jokes') }}">JustJokes</a>
                <!-- mobile-dropdown-toggle -->
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mobileDropdown" aria-controls="mobileDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <!-- menu-items -->
                <div class="collapse navbar-collapse" id="mobileDropdown">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
                        <!-- everyone can see "home" nav item -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('get_jokes') }}">Home</a>
                        </li>
                        <!-- if a user is in seesion, display all nav items apart from "users" -->
                        {% if session.user or session.user|lower == "admin" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                            </li>
                            <!-- only display "users" nav item to admin -->
                            {% if session.user|lower == "admin" %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('get_users') }}">Users</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('add_joke') }}">Add Joke</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('sign_out') }}">Sign out</a>
                            </li>
                        <!-- only display to users who are not signed in -->
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('sign_in') }}">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('sign_up') }}">Sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- flash messages to be displayed here -->
    <section class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-center">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}

    <!-- Bootstrap js bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- custom js file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    </section>
    <!--footer-->
    <footer id="footer">
        <!-- navbar - Bootstrap -->
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <!-- logo -->
                <a class="navbar-brand" href="{{ url_for('get_jokes') }}">JustJokes</a>
                <!-- menu-items -->
                <div id="social-links" class="ftr-element">
                    <div><a href="https://www.facebook.com/Da-Ra-Music-802931670060901" target="_blank"><i class="fab fa-facebook"></i></a></div>
                    <div><a href="https://www.youtube.com/channel/UCJtS-z9cAp3Bfs5aXOvpEgw" target="_blank"><i class="fab fa-youtube-square"></i></a></div>
                    <div><a href="https://www.instagram.com/dara.music.official/" target="_blank"><i class="fab fa-instagram-square"></i></a></div>
                </div>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>