<!-- button to display full joke on modal -->
<button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Expand</button>
<!-- modal to display full joke -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <!-- modal joke title -->
                <h5 class="modal-title" id="exampleModalLabel">{{ joke.joke_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- modal joke description -->
                <p>{{ modal_description }}</p>
                <!-- user who posted joke -->
                <p class="card-text">Posted by: {{ joke.joke_teller }}</p>
                <!-- only display delete and edit buttons to user who posted joke -->
                {% if session.user|lower == joke.joke_teller|lower %}
                    <a href="{{ url_for('delete_joke', joke_id=joke._id) }}"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" title="Delete joke"></i></a>
                    <a href="{{ url_for('edit_joke', joke_id=joke._id) }}"><i class="fas fa-edit" data-bs-toggle="tooltip" title="Edit joke"></i></a>
                {% endif %}
                <a href=""><i class="fas fa-heart" data-bs-toggle="tooltip" title="Add to favourites"></i></a>
                <a href=""><i class="fas fa-thumbs-up" data-bs-toggle="tooltip" title="Like"></i></a>
            </div>
        </div>
    </div>
</div>

document.querySelectorAll(".modal-btn").forEach(btn => btn.addEventListener("mousedown", modalDescription));

function modalDescription(e) {
    if (e.target.className = "modal-btn") {
        console.log(e)

        // elements displayed on card
        cardImg = e.target.offsetParent.children[0];
        cardTitle = e.target.offsetParent.children[1].children[0];
        cardDesc = e.target.offsetParent.children[1].children[1].children[0];
        cardUser = e.target.offsetParent.children[1].children[3];

        // corresponding elements displayed on modal
        modalTitle = e.target.nextElementSibling.children[0].children[0].children[0].children[0];
        modalDesc = e.target.nextElementSibling.children[0].children[0].children[1].children[0];
        modalUser = e.target.nextElementSibling.children[0].children[0].children[1].children[1];

        modalDesc.innerHTML = cardDesc.innerHTML;
        console.log(modalDesc.innerHTML);


        console.log(cardImg);
        console.log(cardTitle);
        console.log(cardDesc);
        console.log(cardUser);
        console.log(modalTitle);
        console.log(modalDesc);
        console.log(modalUser);
    };
};

<!-- modal to display full joke -->
<div class="modal-bg">
    <div class="joke-modal">
        <div class="exit">X</div>
        <!-- modal title -->
        <h5 class="modal-title mt-3">Joke Title</h5>
        <!-- modal description -->
        <div class="modal_description">
            <!-- joke description -->
            <p class="modal-text">Joke</p>
        </div>
        <!-- posted by -->
        <p class="modal-user text-center">Posted by:</p>
    </div>
</div>

<!-- sort by dropdown -->
<div class="dropdown col-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">All</a></li>
        <li><a class="dropdown-item" href="#">Oldest first</a></li>
        <li><a class="dropdown-item" href="#">Newest first</a></li>
    </ul>
</div>

"""
    # calculate current date
    current_y = int(date.today().year)
    current_m = int(date.today().month)
    current_d = int(date.today().day)

    print(current_y)
    print(current_m)
    print(current_d)

    # find user's date of birth from the database
    db_dob = mongo.db.users.find_one(
        {"username": session["user"]})["date_of_birth"]
    print(db_dob)

    # get user's year of birth from db_dob
    user_y = int(db_dob[0:4])
    print(user_y)

    # get user's month of birth from db_dob
    user_m = int(db_dob[5:7])
    print(user_m)

    # get user's day of birth from db_dob
    user_d = int(db_dob[8:])
    print(user_d)

    year_diff = current_y - user_y

    if year_diff >= 19:
        year_ok = True
    elif year_diff == 18:
        year_exact = True
    else:
        year_ok = False
        year_exact = False

    if user_m >= current_m:
        month_ok = True
    else:
        month_ok = False

    if user_d >= current_d:
        day_ok = True
    else:
        day_ok = False

    if year_ok:
        joker = "adult"
    elif year_exact:
        if day_ok and month_ok:
            joker = "adult"
    else:
        joker = "child"

    print(joker)
    """