<!-- extend boilerplate from base.html -->
{% extends "base.html" %}

<!-- inject contents into "block content" from base.html -->
{% block content %}

    <h1 class="m-4 text-center">JustJokes</h1>

    <!-- search controls -->
    <div class="search-controls mb-4">
        <div class="row">
            <!-- sort by dropdown -->
            <div class="dropdown col-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">All</a></li>
                    <li><a class="dropdown-item" href="#">Oldest first</a></li>
                    <li><a class="dropdown-item" href="#">Newest first</a></li>
                </ul>
            </div>
            <!-- search bar -->
            <div class="col-6">
                <form method="POST" action="{{ url_for('search') }}">
            <!-- search word input -->
                    <div class="mb-2">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search jokes" required>
                    </div>
            <!-- search button -->
                    <div class="text-center mb-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
            <!-- add joke button -->
            <div class="col-3">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>

    <section class="jokes-container">
        {% if jokes|length > 0 %}
                <div class="container">
                    <div class="row">
        <!-- loop over each joke item retrieved in get_jokes() function, insert in card -->                
                    {% for joke in jokes %}
                        <div class="col-xs col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                            <div class="card mb-4 text-center">
                                <!-- joke image -->
                                <img src="{{ joke.img_url }}" class="card-img-top" alt="joke-related image">
                                <div class="card-body">
                                    <!-- joke title -->
                                    <h5 class="card-title">{{ joke.joke_title }}</h5>
                                    <div class="joke_description mb-3">
                                        <!-- first 50 characters of joke description -->
                                        <p class="card-text">{{ joke.joke_description|truncate(50) }}</p>
                                    </div>
                                    <div class="text-center mb-3">
                                        <!-- button to display full joke on modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Expand</button>
                                        <!-- modal to display full joke -->
                                        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <!-- modal joke title -->
                                                        <h5 class="modal-title" id="exampleModalLabel">{{ joke.joke_title }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- modal joke description -->
                                                        <p>{{ joke.joke_description }}</p>
                                                        <!-- user who posted joke -->
                                                        <p class="card-text">Posted by: {{ joke.joke_teller }}</p>
                                                        <!-- only display delete and edit buttons to user who posted joke -->
                                                        {% if session.user|lower == joke.joke_teller|lower %}
                                                            <a href="{{ url_for('delete_joke', joke_id=joke._id) }}"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" title="Delete joke"></i></a>
                                                            <a href="{{ url_for('edit_joke', joke_id=joke._id) }}"><i class="fas fa-edit" data-bs-toggle="tooltip" title="Edit joke"></i></a>
                                                        {% endif %}
                                                        <a href=""><i class="fas fa-heart" data-bs-toggle="tooltip" title="Add to favourites"></i></a>
                                                        <a href=""><i class="fas fa-thumbs-up" data-bs-toggle="tooltip" title="Like"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- user who posted joke -->
                                    <p class="card-text">Posted by: {{ joke.joke_teller }}</p>
                                    <!-- only display delete and edit buttons to user who posted joke -->
                                    {% if session.user|lower == joke.joke_teller|lower %}
                                        <a href="{{ url_for('delete_joke', joke_id=joke._id) }}"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" title="Delete joke"></i></a>
                                        <a href="{{ url_for('edit_joke', joke_id=joke._id) }}"><i class="fas fa-edit" data-bs-toggle="tooltip" title="Edit joke"></i></a>
                                    {% endif %}
                                    <a href=""><i class="fas fa-heart" data-bs-toggle="tooltip" title="Add to favourites"></i></a>
                                    <a href=""><i class="fas fa-thumbs-up" data-bs-toggle="tooltip" title="Like"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}            
                    </div>
                </div>
            
        {% else %}
                <h3>no results</h3>
        {% endif %}
    </section>
{% endblock %}