{% extends "base.html" %}

{% block content %}
    <!-- username variable is username of session user, as set if profile() view in app.py -->
    <h1 class="m-4 text-center">{{ username }}</h1>
    <!-- display toggle. Toggle between user's own jokes and user's favourites -->
    <section class="display-toggle">
        <!-- header for user's own joke -->
        <div class="own-jokes mb-3">
            <h2 class="mt-4 mb-0 text-center">Your Jokes</h2>
            <div class="text-center">
                <a class="see-favs" href="#">See Favourites</a>
            </div>
        </div>
        <!-- header for user's own joke. Default display is none -->
        <div class="fav-jokes mb-3" style="display: none;">
            <h2 class="mt-4 mb-0 text-center">Your Favourites</h2>
            <div class="text-center">
                <a class="see-own" href="#">See your jokes</a>
            </div>
        </div>    
    </section>

    <!-- display all user's own jokes -->
    <section class="user-jokes-container">
        {% if jokes|length > 0 %}
            <div class="container">
                <div class="row">
                    <!-- loop over each joke item retrieved in get_jokes() function, insert in card -->                
                    {% for joke in jokes %}
                        {% if session.user|lower == joke.joke_teller|lower %}
                            <div class="col-xs col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                                <div class="card mb-4 text-center">
                                    <!-- joke image -->
                                    <img src="{{ joke.img_url }}" class="card-img-top" alt="joke-related image">
                                    <div class="card-body">
                                        <!-- joke title -->
                                        <h5 class="card-title">{{ joke.joke_title }}</h5>
                                        <div class="joke_description mb-3">
                                            <!-- first 50 characters of joke description -->
                                            <p class="card-text">{{ joke.joke_description|truncate(50) }}</p>
                                            <!-- hidden, untruncated so modal can display full description -->
                                            <p class="alt-desc" style="display: none;">{{ joke.joke_description }}</p>
                                        </div>
                                        <!-- button to display full joke on modal -->
                                        <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="displayModal('{{ joke.joke_title }}', '{{ joke.joke_description }}', '{{joke.joke_teller}}')">Expand</button>
                                        <!-- modal to display full joke -->
                                        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <!-- modal: joke title -->
                                                        <h5 class="modal-joke-title" id="exampleModalLabel">{{ joke.joke_title }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- modal: joke description -->
                                                        <p class="modal-joke-description">{{ modal_description }}</p>
                                                        <!-- modal: user who posted joke -->
                                                        <p class="modal-text modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- user who posted joke -->
                                        <p class="card-text mt-2">Posted by: {{ joke.joke_teller }}</p>
                                        <!-- only display delete and edit buttons to user who posted joke -->
                                        {% if session.user|lower == joke.joke_teller|lower %}
                                            <a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" title="Delete joke"></i></a>
                                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <!-- confirmation message -->
                                                            <h5 class="modal-joke-title" id="exampleModalLabel">Are you sure you want to delete this joke?</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- modal: joke title -->
                                                            <h5 class="modal-joke-title" id="exampleModalLabel">{{ joke.joke_title }}</h5>
                                                            <!-- modal: joke description -->
                                                            <p class="modal-joke-description">{{ joke.joke_title}}</p>
                                                            <!-- modal: user who posted joke -->
                                                            <p class="modal-text modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <a href="{{ url_for('delete_joke', joke_id=joke._id) }}" type="button" class="btn btn-primary">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{{ url_for('edit_joke', joke_id=joke._id) }}"><i class="fas fa-edit" data-bs-toggle="tooltip" title="Edit joke"></i></a>
                                        {% else %}
                                            <a href=""><i class="fas fa-heart" data-bs-toggle="tooltip" title="Add to favourites"></i></a>
                                            <a href=""><i class="fas fa-grin-squint-tears" data-bs-toggle="tooltip" title="Like"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}            
                </div>
                {% for joke in jokes %}
                    <!-- display pagination only if there are jokes present -->
                    {% if session.user|lower == joke.joke_teller|lower %}
                        {{ pagination.links }}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
                <h3>no results</h3>
        {% endif %}
    </section>

    <!-- display all user's favourited jokes. Default display is none -->
    <section class="user-favourites-container" style="display: none;">
        {% if fav_jokes|length > 0 %}
            <div class="container">
                <div class="row">
                    <!-- loop over each joke item retrieved in fav_jokes() function, insert in card -->                
                    {% for joke in fav_jokes %}
                        <div class="col-xs col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                            <div class="card mb-4 text-center">
                                <!-- joke image -->
                                <img src="{{ joke.img_url }}" class="card-img-top" alt="joke-related image">
                                <div class="card-body">
                                    <!-- joke title -->
                                    <h5 class="card-title">{{ joke.joke_title }}</h5>
                                    <div class="joke_description mb-3">
                                        <!-- first 50 characters of joke description -->
                                        <p class="card-text">{{ joke.joke_description|truncate(50) }}</p>
                                        <!-- hidden, untruncated so modal can display full description -->
                                        <p class="alt-desc" style="display: none;">{{ joke.joke_description }}</p>
                                    </div>
                                    <!-- button to display full joke on modal -->
                                    <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" onclick="displayModal('{{joke.joke_title}}', '{{joke.joke_description}}', '{{joke.joke_teller}}')">Expand</button>
                                    <!-- modal to display full joke -->
                                    <div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <!-- modal: joke title -->
                                                    <h5 class="fav-modal-joke-title" id="exampleModalLabel">{{ joke.joke_title }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- modal: joke description -->
                                                    <p class="fav-modal-joke-description">{{ modal_description }}</p>
                                                    <!-- modal: user who posted joke -->
                                                    <p class="modal-text modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- user who posted joke -->
                                    <p class="card-text mt-2">Posted by: {{ joke.joke_teller }}</p>
                                    <!-- only display delete and edit buttons to user who posted joke -->
                                    {% if session.user|lower == joke.joke_teller|lower %}
                                        <a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" title="Delete joke"></i></a>
                                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <!-- confirmation message -->
                                                        <h5 class="modal-joke-title" id="exampleModalLabel">Are you sure you want to delete this joke?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- modal: joke title -->
                                                        <h5 class="modal-joke-title" id="exampleModalLabel">{{ joke.joke_title }}</h5>
                                                        <!-- modal: joke description -->
                                                        <p class="modal-joke-description">{{ joke.joke_title}}</p>
                                                        <!-- modal: user who posted joke -->
                                                        <p class="modal-text modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a href="{{ url_for('delete_joke', joke_id=joke._id) }}" type="button" class="btn btn-primary">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{ url_for('edit_joke', joke_id=joke._id) }}"><i class="fas fa-edit" data-bs-toggle="tooltip" title="Edit joke"></i></a>
                                    {% else %}
                                        <a data-bs-toggle="modal" data-bs-target="#deleteModal1"><i class="fas fa-minus-circle" data-bs-toggle="tooltip" title="Remove from favourites"></i></a>
                                        <div class="modal fade" id="deleteModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <!-- confirmation message -->
                                                        <h5 class="modal-joke-title" id="exampleModalLabel">Are you sure you want to remove this joke from your favourites??</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- modal: joke title -->
                                                        <h5 class="modal-joke-title" id="exampleModalLabel">{{ joke.joke_title }}</h5>
                                                        <!-- modal: joke description -->
                                                        <p class="modal-joke-description">{{ joke.joke_title}}</p>
                                                        <!-- modal: user who posted joke -->
                                                        <p class="modal-text modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a href="{{ url_for('remove_fav', joke_id=joke._id) }}" type="button" class="btn btn-primary">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href=""><i class="fas fa-grin-squint-tears" data-bs-toggle="tooltip" title="Like"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for joke in jokes %}
                        <!-- display pagination only if there are jokes present -->
                        {% if session.user|lower == joke.favouriter|lower %}
                            {{ pagination.links }}
                        {% endif %}
                    {% endfor %}            
                </div>
            </div>
        {% else %}
                <h3>no results</h3>
        {% endif %}
    </section>
{% endblock %}

