{% extends "base.html" %}

{% block content %}
    <!-- username variable is username of session user, as set if profile() view in app.py -->
    <h1 class="m-4 text-center">{{ username }}</h1>
    <!-- display toggle - toggle between user's own jokes and user's favourites -->
    <section class="display-toggle">
            <div class="dropdown text-center mb-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item"><a class="see-favs" href="#">See Favourites</a></li>
                    <li class="dropdown-item"><a class="see-own" href="#">See your jokes</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('sign_out') }}">Sign out</a></li>
                </ul>
            </div>
    </section>

    <!-- display all user's own jokes -->
    <section class="user-jokes-container">
        <!-- favourites heading -->
        <h2 class="text-center mb-5">Your Jokes</h2>

        <!-- if jokes were found in the db -->
        {% if jokes|length > 0 %}
            <div class="container">
                <div class="row">
                    <!-- loop over each joke item retrieved in get_jokes() function, insert in card -->                
                    {% for joke in jokes %}
                        <!-- if the current user is the user who posted the joke -->
                        {% if session.user|lower == joke.joke_teller|lower %}
                            <div class="col-xs col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                                <div class="card mb-4 text-center">
                                    <!-- joke image -->
                                    <img src="{{ joke.img_url }}" class="card-img-top" alt="joke-related image">
                                    <div class="card-body">
                                        <!-- joke title -->
                                        <h5 class="card-title">{{ joke.joke_title }}</h5>
                                        <div class="joke_description mb-3">
                                            <!-- first 50 characters of joke description -->
                                            <p class="card-text">{{ joke.joke_description|truncate(50) }}</p>
                                            <!-- hidden, untruncated for modal to reference -->
                                            <p class="alt-desc" style="display: none;">{{ joke.joke_description }}</p>
                                        </div>
                                        <!-- expand button, triggers modal to display full joke -->
                                        <!-- onclick event listener passes card variable to displayModal() function in script.js -->
                                        <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="displayModal('{{ joke.joke_title }}', '{{ joke.joke_description }}', '{{joke.joke_teller}}')">Expand</button>
                                        <!-- bootstrap modal to display full joke -->
                                        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="seeFull" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <!-- modal: joke title -->
                                                        <h5 class="modal-joke-title" id="seeFull">{{ joke.joke_title }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- modal: joke description -->
                                                        <p class="modal-joke-description">{{ modal_description }}</p>
                                                        <!-- modal: user who posted joke -->
                                                        <p class="modal-text modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- user who posted joke -->
                                        <p class="card-text mt-2">Posted by: {{ joke.joke_teller }}</p>
                                        <!-- number of people who liked the joke -->
                                        <p class="modal-text"><span class="likes">{{ joke.likes }}</span> liked this joke</p>
                                        <!-- only display delete and edit buttons to user who posted joke -->
                                        <!-- delete joke button, triggers modal to display confirmation message -->
                                        <a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" title="Delete joke"></i></a>
                                        <!-- modal to display confirmation message -->
                                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <!-- confirmation message -->
                                                        <h5 class="modal-joke-title" id="confirmModal">Are you sure you want to delete this joke?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- modal: joke title -->
                                                        <h5 class="modal-joke-title">{{ joke.joke_title }}</h5>
                                                        <!-- modal: joke description -->
                                                        <p class="modal-joke-description">{{ joke.joke_description}}</p>
                                                        <!-- modal: user who posted joke -->
                                                        <p class="modal-text modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="cancel-confirm">
                                                            <!-- cancel button -->
                                                            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                                            <!-- confirm button -->
                                                            <a href="{{ url_for('delete_joke', joke_id=joke._id) }}" type="button" class="btn btn-primary">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- edit button -->
                                        <a href="{{ url_for('edit_joke', joke_id=joke._id) }}"><i class="fas fa-edit" data-bs-toggle="tooltip" title="Edit joke"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}            
                </div>
                {% for joke in jokes %}
                    <!-- display pagination only if there are more than 8 jokes -->
                    {% if jokes|length > 8 %}
                        {{ pagination.links }}
                    {% endif %}
                {% endfor %}
            </div>
        <!-- if not jokes were found in the db -->
        {% else %}
        <h3 class="text-center">No jokes were found. Why not <a href="{{ url_for('add_joke') }}">add a one?</a></h3>
        {% endif %}
    </section>

    <!-- display all user's favourited jokes - default display is none -->
    <section class="user-favourites-container" style="display: none;">
        <!-- favourites heading -->
        <h2 class="text-center mb-5">Your Favourites</h2>

        <!-- if jokes were found in the db -->
        {% if fav_jokes|length > 0 %}
            <div class="container">
                <div class="row">
                    <!-- loop over each joke item retrieved in fav_jokes() function, insert in card -->                
                    {% for joke in fav_jokes %}
                        <div class="col-xs col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                            <div class="card mb-4 text-center">
                                <!-- joke image -->
                                <img src="{{ joke.img_url }}" class="card-img-top" alt="joke-related image">
                                <div class="card-body">
                                    <!-- joke title -->
                                    <h5 class="card-title">{{ joke.joke_title }}</h5>
                                    <div class="joke_description mb-3">
                                        <!-- first 50 characters of joke description -->
                                        <p class="card-text">{{ joke.joke_description|truncate(50) }}</p>
                                        <!-- hidden, untruncated so modal can display full description -->
                                        <p class="alt-desc" style="display: none;">{{ joke.joke_description }}</p>
                                    </div>
                                    <!-- expand button, triggers modal to display full joke -->
                                    <!-- onclick event listener passes card variable to displayModal() function in script.js -->
                                    <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" onclick="displayModal('{{joke.joke_title}}', '{{joke.joke_description}}', '{{joke.joke_teller}}')">Expand</button>
                                    <!-- bootstrap modal to display full joke -->
                                    <div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="seeFull1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <!-- modal: joke title -->
                                                    <h5 class="fav-modal-joke-title" id="seeFull1">{{ joke.joke_title }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- modal: joke description -->
                                                    <p class="fav-modal-joke-description">{{ modal_description }}</p>
                                                    <!-- modal: user who posted joke -->
                                                    <p class="modal-text fave-modal-joke-teller">Posted by: {{ joke.joke_teller }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- user who posted joke -->
                                    <p class="card-text mt-2">Posted by: {{ joke.joke_teller }}</p>
                                    <!--  number of people who liked the joke -->
                                    <p class="modal-text"><span class="likes">{{ joke.likes }}</span> liked this joke</p>
                                    <!-- like button -->
                                    {% if session.user|lower in joke.liked_by %}
                                        <a href="{{ url_for('like_joke', joke_id=joke._id) }}"><i class="fas fa-grin-squint-tears {{ like_button }}" data-bs-toggle="tooltip" title="Like"></i></a>
                                    {% else %}
                                        <a href="{{ url_for('like_joke', joke_id=joke._id) }}"><i class="fas fa-grin-squint-tears" data-bs-toggle="tooltip" title="Like"></i></a>
                                    {% endif %}

                                    <!-- add to favourites button -->
                                    {% if session.user|lower in joke.favouriter %}
                                        <a href="{{ url_for('add_fav', joke_id=joke._id) }}"><i class="fas fa-heart {{ favd_button }}" data-bs-toggle="tooltip" title="Add to favourites"></i></a>
                                    {% else %}
                                        <a href="{{ url_for('add_fav', joke_id=joke._id) }}"><i class="fas fa-heart" data-bs-toggle="tooltip" title="Add to favourites"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for joke in jokes %}
                        <!-- display pagination only if there are jokes present -->
                        {% if fav_jokes|length > 0 %}
                            {{ pagination.links }}
                        {% endif %}
                    {% endfor %}            
                </div>
            </div>
        <!-- if there were no jokes found in the db -->
        {% else %}
        <h3 class="text-center">No jokes were found. Why not <a href="{{ url_for('add_joke') }}">add one?</a></h3>
        {% endif %}
    </section>
{% endblock %}

